.b {
  background-image: url(../Assets/background.jpeg);
  background-size: 100%
}

.i {
  width: 120px;
  position: absolute;
  margin-left: 40px;
  margin-top: 14px;
}

.x {
  list-style: none;
  margin-left: 429px;

}

.y {
  display: inline;
  color: white;
  margin-left: 20px;
  font-size: 15px;
  font-family: "Gotham";
  font-weight: bold;
}

@font-face {
  font-family: "Gotham";
  src: url("../Assets/Gotham.woff2");
}

.q {
  list-style: none;
  margin-left: 1155px;
  margin-top: -35px;

}

.a {
  display: inline;
  color: white;
  font-size: 15px;
  margin-left: 15px;
  font-family: "Gotham";
  font-weight: bold;

}

.a:hover{
  background-color: rgb(223, 223, 223, 0.427);
  box-shadow: 0px 0px 10px rgba(223, 223, 223, 0.427);
  cursor: pointer;
}

.p {
  margin-left: 672px;
  position: absolute;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Gotham";
}

.d1 {
  width: 725px;
  height: 50px;
  background-color: transparent;
  margin-top: 590px;
  margin-left: 400px;
}

.l {
  list-style: none;
  margin-left: -120px;
}

.y1 {
  display: inline-block;
  margin-left: 80px;
  text-align: center;

}

.x1 {
  font-family: "Gotham";
  font-weight: bold;
  font-size: 24px;
  color: white;

}

.x2 {
  font-family: "Gotham";
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.y3 {
  margin-left: 620px;
  margin-top: -49.5px;
}

.btn {
  width: 185px;
  height: 35px;
  font-family: "Gotham";
  font-size: 15px;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  border-style: solid;
  border-color: white;
}

.btn:hover {
  background-color: white;
  color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}

.y:hover {
  background-color: rgb(223, 223, 223, 0.427);
  box-shadow: 0px 0px 10px rgba(223, 223, 223, 0.427);
  cursor: pointer;
}